.photo-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.photo-card:hover {
  border-color: #aaa;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
}

.photo-details {
  margin-top: 8px;
}
